{% extends '_base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">

                <h1 class="h4">Смяна на парола</h1>
                <hr>
                <form method="post" action="/password">
                    <div class="mb-3">
                        <label for="current-password" class="form-label">Текуща Парола: </label>
                        <input type="password" class="form-control" id="current-password" name="current-password">
                    </div>
                    <hr style="opacity: 0.1">
                    <div class="mb-3">
                        <label for="new-password" class="form-label"><b>Нова</b> Парола: </label>
                        <input type="password" class="form-control" id="new-password" name="new-password">
                    </div>
                    <div class="mb-3">
                        <label for="new-password-repeat" class="form-label">Повтори <b>Нова</b> Парола: </label>
                        <input type="password" class="form-control" id="new-password-repeat" name="new-password-repeat">
                    </div>
                    <button type="submit" class="btn btn-primary">Смени Парола</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}