{% extends '_base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-3">

        {% include '_notifications.html.twig' with {'notifications': notifications} %}

        <div class="row">
            <div class="col-12">

{#                <div class="alert alert-krisi alert-dismissible fade show">#}
{#                    <span style="text-shadow: 1px 1px 1px white">#}
{#                        <span class="fw-bold" style="color: orangered">Ново:</span>#}
{#                        <a href="/races" class="link-dark fw-bold">Състезателни Трасета</a> 👑#}
{#                    </span>#}

{#                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                </div>#}

{#                {% include '_last_update.html.twig' %}#}

                <div class="row">

                    {% for route in routes %}
                        {% include '_route.html.twig' with {'route': route, 'class': 'col-md-6 col-12 col-xl-4 col-lg-4'} %}
                    {% endfor %}

                </div>

                <div class="alert alert-light" role="alert">
                    Трасета: <b>{{ routes|length }}</b> <span
                            class="text-muted">(Последно обновяване: {{ last_update }})</span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}