html, body {
    background: #f7f6fb;
}

.navbar-custom {
    background: #fff;
}

.logo {
    width: 60%;
}

.card-custom {
    border: none;
}

.card-header-custom, .list-group-custom, .card-body-custom {
    background: #fff !important;
}

.card-header-custom {
    border: none;
}

.badge-custom {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .8rem;
}

.list-group-custom li {
    border: none;
}

.card-footer-custom {
    background: #fff;
    border: none;
}

.stats div {
    border-right: 1px solid lightgray;
    text-align: center;
}

.stats div:last-child {
    border-right: none;
}

.stats p {
    margin-bottom: 0;
}

.stats span {
    font-weight: bold;
}

.title-link {
    text-decoration: none !important;
    color: #000 !important;
}
