{% extends '_base.html.twig' %}

{% block body %}

    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-3">

        {% include '_notifications.html.twig' with {'notifications': notifications} %}

        <div class="row">

            <div class="col">todo</div>

        </div>

    </div>

{% endblock %}