{% extends '_base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                {{ dump(route) }}
            </div>
        </div>
    </div>
{% endblock %}