{% extends '_base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-3">
        <div class="row">

            {% include '_route.html.twig' with {'route': route, 'class': 'col-lg-6 offset-lg-3'} %}

            {% if user %}
                <div class="col-md-6 offset-md-3">
                    <div class="card mb-3 card-custom shadow-sm">

                        <h5 class="card-header card-header-custom">Галерия</h5>

                        <div class="card-body">
                            <button class="btn btn-info btn-sm"><i class="fa-solid fa-images"></i> Качи снимки</button>
                        </div>

                    </div>

                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}