{% extends '_base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' with {'user': user} %}

    <div class="container mt-3">

        {% include '_notifications.html.twig' with {'notifications': notifications} %}

        <div class="row">

            {% include '_route.html.twig' with {'route': route, 'class': 'col-lg-6 offset-lg-3'} %}

            {% if user %}
                <div class="col-lg-6 offset-lg-3">
                    <div class="card mb-3 card-custom shadow-sm">

                        <h5 class="card-header card-header-custom">Галерия</h5>

                        <div class="card-body">

                            <form enctype="multipart/form-data" method="post" action="/upload-image">
                                <div class="mb-3">
                                    <label for="image_field" class="form-label">Качи снимки</label>
                                    <input type="hidden" name="route_id" value="{{ route.id }}">
                                    <input class="form-control" type="file" size="32" name="image_field[]" value=""
                                           multiple accept="image/png, image/gif, image/jpeg" required>
                                </div>

                                <button class="btn btn-info "><i class="fa-solid fa-images"></i> Качи</button>
                            </form>

                        </div>

                        {% include '_media.html.twig' with {'media': media} %}

                    </div>

                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}