<div class="container mb-3 mt-3 text-right">
    <div class="text-muted small text-right alert alert-light opacity-75">
        Developed by <b>mrd</b> &copy;2023 {% if "now"|date("Y") != 2023 %}- {{ "now"|date("Y") }}{% endif %}
        <br>
        Last Route update: {{ last_update }}
        <br>
        App Version: 1.0.0
    </div>
</div>