<div class="container mb-3 mt-3 text-right">
    <div class="text-muted small text-right alert alert-light opacity-75">
        v.1.2.0 22-01-2023 <a href="https://github.com/vdonchev/bike_routes" target="_blank"><i
                    class="fa-brands fa-github"></i></a>
        <br>
        <b>mrd</b> &copy;2023 {% if "now"|date("Y") != 2023 %}- {{ "now"|date("Y") }}{% endif %}
    </div>
</div>