<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom shadow-sm">

    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/asset/logo.png" alt="Krisi Routes" class="logo" style="width: 100%">
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-lg-flex">
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
            {% include '_nav_items.html.twig' %}
        </ul>

        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1"
             id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">

            <div class="offcanvas-header">

                <h5 class="offcanvas-title text-decoration-underline" id="offcanvasDarkNavbarLabel">МЕНЮ 😛</h5>

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>

            </div>

            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    {% include '_nav_items.html.twig' %}

                </ul>

            </div>

        </div>

    </div>

</nav>