{% if notifications is not empty %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                {% for name, notificationGroup in notifications %}
                    {% for notification in notificationGroup %}
                        <div class="alert alert-{{ name }}" role="alert">
                            {{ notification }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endif %}