{% if notifications is not empty %}

        <div class="row">
            <div class="col-12">

                {% for name, notificationGroup in notifications %}
                    {% for notification in notificationGroup %}
                        <div class="alert alert-dismissible fade show alert-{{ name }} alert-notification" role="alert">
                            {{ notification }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>

{% endif %}